/* Confguração padrão para todas as páginas */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #ff2b34;
    --black: #222;
    --white: #fff;
    --texto: 'Open Sans', sans-serif;
}

a,
p {
    font-family: var(--texto)
}

h1,
h2,
h3,
h4,
h5,
th,
td,
p
 {
    font-family: var(--texto);
}

body {
    background: #eee
}

#topo_mobile_home {
    width: 100%;
    height: 10vh;
    background: var(--white)
}

#check {
    display: none;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

#icone {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    margin-left: 1.2em;
    margin-top: 1.4em
}

#topo_mobile_home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: fbfbfb;
    /* margin-left: 0.5em */
}

.text_menu {
    display: flex;
}

.text_menu a {
    padding: 0 2em;
    text-decoration: none;
    color: var(--red);
    text-transform: uppercase
}

.text_menu img {
    width: 1.7em;
}

.tamanho {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input_menu input {
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    width: 28em;
    border: none;
    font-size: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 5px;
}

.fa-bars {
    display: block;
    font-size: 2em;
    color: var(--black);
}

.barra {
    background-color: var(--red);
    height: 90vh;
    width: 15vw;
    position: absolute;
    transition: all .2s linear;
    left: -330px;
    /* right: -80%; */
}

.barra nav {
    width: 100%;
    position: absolute;
    top: 15em;
}

.barra nav a {
    text-decoration: none;
}

nav img {
    width: 2em;
    margin-left: 6.5em;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--texto);
    font-size: 9pt;
    transition: all .2s linear;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    margin: 3.5em;
    margin-top: 0em;
    margin-left: 4.5em;
}

#check:checked~.barra {
    transform: translateX(300px);
}

.mt-5 {
    margin-top: 5em
}

.card_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.card {
    background: var(--white);
    width: 25vw;
    height: 30vh;
    margin: 0.5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    font-family: var(--texto);
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_flex a {
    text-decoration: none;
}

.card_flex img {
    width: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rounded-circle {
    border-radius: 50%;
    width: 50%;
    justify-content: center;
    margin-left: 4em;
    margin-top: 2em
}

.perfil {
    display: flex;
    flex-direction: column;
}

.texto{
    /* width: 35%; */
    display: flex;
    justify-content: center;
    align-items: center
}



table {
    margin: auto;
    /* margin-bottom: 5em; */
    justify-content: center;
    border-collapse: collapse;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}

tbody {
    background: rebeccapurple;
}

.cor {
    color: var(--red);
    text-transform: uppercase;
    font-weight: bolder;
    /* padding: 0em 1.5em; */
}

th {
    padding: 1em 3em;
    font-size: 1.3rem;
    border: none;
    color: #607286;
    text-transform: capitalize;
}

td {
    padding: 1em 3em;
    font-size: 1.3rem;
    border: none;
    border-color: #2222;
    background-color: #fff;
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

th {
    border: none;
    background: #d9e2e7;
}

h1 {
    margin: 1em;
    text-transform: uppercase;
}

.posicionamento{
    margin-left: 1em;
}

.posicionamento_opcoes{
    margin-left: 2em;
}

.nome_responsavel{
    text-transform: capitalize;
}

li{
  list-style-type: none;
}

.slides{
    justify-content: center;
}

.botao_slider{
    width: 1em;
    height: 1em;
    margin: 1.5em 2em;
}

.slides{
    display: flex;
}

@media screen and (max-width: 769px) {
    .barra {
        width: 35%;
        height: 138vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #icone {
        margin-top: 1.5em;
        margin-left: 0.5em
    }
    .input_menu {
        display: none;
    }
    .card_flex {
        flex-wrap: wrap;
    }
    .card {
        width: 35vw;
    }
    .fa-bars:before {
        content: "\f0c9";
        margin-left: 0.5em;
    }
    #icone {
        margin-top: 1em;
    }
    .tamanho {
        margin-left: 20em;
    }
    nav {
        height: 100vh;
    }
}

@media screen and (max-width: 376px) {
    .barra {
        width: 80%;
    }
    #icone {
        margin-top: 1.5em;
        margin-left: 0.5em
    }
    .input_menu {
        display: none;
    }
    .card_flex {
        flex-wrap: wrap;
    }
    .card {
        width: 80vw;
        height: 40vh;
    }
    #topo_mobile_home {
        width: 100vw;
    }
}

