@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #ff2b34;
    --black: #222;
    --white: #fff;
    --texto: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

#topo_web {
    width: 100%;
    height: 0vh;
}

.menu {
    height: 17vh;
    align-items: center
}

.menu ul {
    list-style-type: none;
}

.menu li {
    text-transform: uppercase;
}

.menu a {
    padding: 0 30px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--texto)
}

.logo {
    width: 25vw;
    margin-top: 1em;
}

.icon {
    display: none
}

.teste:hover {
    background: var(--black);
    color: var(--white);
    padding: 20px 35px;
}

.botao {
    background: var(--red);
    border-radius: 15px;
    padding: 1.5em 2em;
}

.nav_home {
    margin-left: 15em;
}

@media screen and (max-width: 768px) {
    h2 {
        text-align: center;
    }
    .menu ul a {
        padding: 1.75em 1.17em
    }
    .box {
        width: 50vw;
    }
    .menu ul {
        display: none
    }
    .icon {
        display: block;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 376px) {
    h2 {
        text-align: center;
    }
    .menu ul a {
        padding: 1.75em 1.17em
    }
    .box {
        width: 50vw;
    }
    .menu ul {
        display: none
    }
    .icon {
        display: block;
        font-size: 1.2em;
    }
    .logo {
        width: 40%;
        margin-top: 0em;
    }
}