.card {
    width: 35vw !important;
    display: flex !important;
    align-items: center !important;
}

.fa-edit,
.fa-plus,
.fa-calendar-alt,
.fa-edit,
.fa-unlock-alt {
    font-size: 60pt;
    color: #222;
    margin: 0.4em;
}

.text_menu {
    width: 100% !important;
    display: flex !important;
    justify-content: flex-end !important;
}

.logout_user {
    display: flex !important;
}

.logout_user {
    display: flex !important;
    align-items: center !important;
}

.logout_user a {
    text-decoration: none !important;
    padding: 0 !important;
    color: var(--red) !important;
    text-transform: uppercase !important;
}

.logout_user img {
    width: 1.7em !important;
}

.logout_user1 {
    padding: 0 1em 0 0 !important;
}

.logout_img {
    width: 0.7em !important;
}

.tamanho {
    margin-right: 3em;
}