.navbar {
    background: linear-gradient(40deg, rgba(0, 51, 199, .3), rgba(209, 149, 249, .3));
}

.navbar:not(.top-nav-collapse) {
    background: transparent;
}

.navbar .navbar-brand img / {
    height: 40px;
    margin: 10px;
}

.hm-gradient {
    background: linear-gradient(40deg, rgba(0, 51, 199, .3), rgba(209, 149, 249, .3));
}

.heading {
    margin: 0 6rem;
    font-size: 3.8rem;
    font-weight: 700;
    color: #5d4267;
}


.btn-cadastro1{
    color: #fff;
}


.subtitle {
    color: #bcb2c0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
}

/* .mt-9 {
    margin-top: 19vh;
    margin-left: 6vw;
} */

.info-color {
    background: #151853 !important;
}

.btn-cadastro {
    color: #151853;
    background: transparent;
    border: 2px solid #151853;
    margin-left: 18em;
    width: 17vw;
    height: 3.5vw;
}


.text-white {
    color: White;
}

.btn-cadastro{
    background-color: #151853 !important;
    color: #fff;
}

.texto_cadastro {
    margin-top: 22vh;
    margin-left: 10vw;
    /* margin-right: 10em; */
}
