@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #6351ce;
    --black: #222;
    --white: #fff;
    --texto: 'Open Sans', sans-serif;
}

a,
p {
    font-family: var(--texto)
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--texto);
}