.fundoEvento{
    background-image: linear-gradient(150deg ,rgba(80, 85, 201, 0.95), rgba(200, 62, 152, 0.95)), url('../../img/fundo.jpg');
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.btn-defaultt{
    background: #DF42B1;
}

.radius{
    border-radius: 50px;
}

.display-4{
    font-size: 3rem !important;
    letter-spacing: 0.5em
}

.rosa{
    margin-bottom: 0 !important;
}